.font {
  font-family: "LEMONMILK";
  font-size: 16px;
}

.appContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
}

.score {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  font-family: "LEMONMILKMEDIUM";
}

.addMoves {
  position: fixed;
  z-index: 2;
  background: rgb(120, 175, 109);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  padding: 6px;
  margin-top: 34px;
  cursor: pointer;
  &:hover {
    background: rgb(101, 156, 90);
    transform: scale(98%);
  }
  width: 25px;
}

.title {
  position: fixed;
  font-size: 14px;
  pointer-events: none;
}

.buttonTitle {
  position: fixed;
  font-size: 14px;
  pointer-events: none;
  animation: growIn 0.7s;
}

@keyframes growIn {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
