body {
  background-color: rgb(250, 247, 243);
}

@font-face {
  font-family: "LEMONMILK";
  src: local("LEMONMILK"),
    url("./fonts/LEMONMILK-Regular.otf") format("opentype");
}

@font-face {
  font-family: "LEMONMILKMEDIUM";
  src: local("LEMONMILKMEDIUM"),
    url("./fonts/LEMONMILK-Medium.otf") format("opentype");
}

@font-face {
  font-family: "pixel";
  src: local("pixel"), url("./fonts/pixel.ttf") format("truetype");
}
