.container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.803);
  backdrop-filter: blur(20px);
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  animation: fadeIn 1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: "pixel";
}

.bossContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boss {
  position: relative;
  width: 230px;
  height: 400px;
  padding-top: 32px;
  animation: fadeInDelay 1.45s, float 2s infinite ease-in-out;
}

.healthbar {
  animation: fadeInDelay 1.45s, float 2s infinite ease-in-out;
  position: relative;
  background-color: red;
  height: 20px;
  margin-bottom: 20px;
  color: white;
}

.playerHealth {
  animation: fadeInDelay 1.45s;
  position: absolute;
  top: 10px;
  color: white;
  background-color: rgb(48, 164, 22);
  height: 20px;
  margin-bottom: 20px;
}

.playerHealthNotif {
  position: relative;
  color: rgb(255, 37, 37);
  font-size: 30px;
  padding-top: 20px;
}

.computerHealthNotif {
  position: relative;
  color: rgb(255, 37, 37);
  font-size: 30px;
  padding-top: 15px;
}
.tieNotif {
  position: absolute;
  top: 80px;
  color: white;
  font-size: 30px;
}

.movesContainer {
  position: relative;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  position: relative;
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  &:hover {
    outline: 3px solid white;
    outline-offset: -10px;
  }
}

.rock {
  animation: throb 1.5s infinite ease-in-out, fadeInDelay 2.6s;
  cursor: pointer;
}

.paper {
  animation: throb 1.5s infinite ease-in-out, fadeInDelay 2.85s;
  cursor: pointer;
  z-index: 2000;
}

.scissors {
  animation: throb 1.5s infinite ease-in-out, fadeInDelay 3.1s;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes throb {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes throbLarge {
  0% {
    transform: scale(120%);
  }
  50% {
    transform: scale(140%);
  }
  100% {
    transform: scale(120%);
  }
}
