.container {
  padding-bottom: 100px;
}

.sentence {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.loss {
  color: red;
  animation: fadeInThird 3s, shake 0.1s infinite;
}
.win {
  padding-top: 12px;
  font-size: 10px;
  animation: fadeInThird 3s;
}
.draw {
  animation: fadeInThird 3s;
}
.first {
  animation: fadeInFirst 3s;
}

.second {
  animation: fadeInSecond 3s;
}

@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

@keyframes fadeInFirst {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInSecond {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInThird {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
