.container {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 3;
  animation: fadeInOverlay 5s;
}

.sentence {
  top: 50%;
  left: 20%;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.loss {
  color: red;
  animation: fadeInThird 4s, shake 0.1s infinite;
}
.win {
  padding-top: 12px;
  font-size: 10px;
  animation: fadeInThird 4s;
}
.draw {
  animation: fadeInThird 4s;
}
.first {
  animation: fadeInFirst 4s;
  color: white;
}

.second {
  animation: fadeInSecond 4s;
  color: white;
}

@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

@keyframes fadeInFirst {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInSecond {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInThird {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOverlay {
  0% {
    opacity: 0;
    display: block;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
