.notificationContainer {
  position: absolute;
  top: 0;
  left: 48.5vw;
  animation: fadeOut 1s forwards;
  opacity: 1;
  font-family: "LEMONMILK";
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.notification {
  height: 40px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  border-radius: 20%;
}

.tie {
  background-color: rgb(255, 153, 36);
}

.player {
  background-color: rgb(143, 204, 131);
}

.computer {
  background-color: rgb(189, 0, 0);
  color: white;
}
