.notificationContainer {
  position: absolute;
  padding: 10px 70px;
}

.notification {
  height: 40px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.tie {
  background-color: rgb(255, 153, 36);
}

.player {
  background-color: rgb(129, 222, 129);
}

.computer {
  background-color: rgb(189, 0, 0);
  color: white;
}
